USE [MyCoreAdminDB]
GO
/****** Object:  Table [dbo].[ATTRIBUTE]    Script Date: 23/01/2019 7:26:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTRIBUTE](
	[AttributeId] [int] IDENTITY(1,1) NOT NULL,
	[NameAttribute] [nvarchar](300) NOT NULL,
	[ValueAttribute] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_ATTRIBUTE] PRIMARY KEY CLUSTERED 
(
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 23/01/2019 7:26:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[EstablishedDate] [nchar](10) NULL,
	[TypeId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 23/01/2019 7:26:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_TYPE] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_ATTRIBUTE]    Script Date: 23/01/2019 7:26:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_ATTRIBUTE](
	[TypeId] [int] NOT NULL,
	[AttributeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC,
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_TYPE] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TYPE] ([TypeId])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_TYPE]
GO
ALTER TABLE [dbo].[TYPE_ATTRIBUTE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_ATTRIBUTE_ATTRIBUTE] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[ATTRIBUTE] ([AttributeId])
GO
ALTER TABLE [dbo].[TYPE_ATTRIBUTE] CHECK CONSTRAINT [FK_PRODUCT_ATTRIBUTE_ATTRIBUTE]
GO
ALTER TABLE [dbo].[TYPE_ATTRIBUTE]  WITH CHECK ADD  CONSTRAINT [FK_TYPE_ATTRIBUTE_TYPE] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TYPE] ([TypeId])
GO
ALTER TABLE [dbo].[TYPE_ATTRIBUTE] CHECK CONSTRAINT [FK_TYPE_ATTRIBUTE_TYPE]
GO
