@model List<Model.Models.Product>
@using Common
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _hostingEnviroment
@{
    ViewData["Title"] = "ProductTypeListC2C";
}

<div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Blank Pageheader </h2>
                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blank Pageheader</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <!-- image cards  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="section-block" id="image-card">
                <h2 class="section-title">@ViewData["ProductTypeName"]</h2>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <img class="card-img-top img-fluid p-2" src=@Common.ImageBox.ImageObjectPath("product",item.ProductId,null,_hostingEnviroment) alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">@item.ProductName</h3>
                        @*<p class="card-text">Faucibus orci luctus et ultrices lorem posuere cubilia Cuquis ipsum in augue posuere congue.</p>*@
                        <a href=@Url.Action("ProductDetailC2C","ECommerce",new {productId= item.ProductId}) class="btn btn-primary">View detail</a>
                    </div>
                </div>
            </div>


        }
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <img class="card-img-top img-fluid" src="~/images/createnewobject.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Modal add product</h3>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success btn-block buttonCreateProduct" data-toggle="ajax-modal" data-url="@Url.Action("CreateProduct")" data-typeid=@ViewData["ProductTypeId"]>
                        Add new product
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end image cards  -->
</div>

<!-- Modal placeholder -->
<div id="modal-createProduct"></div>


@section PluginCSS{
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/libs/css/style.css">
    <link rel="stylesheet" href="~/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>

    <!-- Croppie CSS -->
    <link rel="stylesheet" href="~/vendor/croppie/dist/croppie.css">
    <link rel="stylesheet" href="~/vendor/sweetalert/dist/sweetalert.css">
}

@section PluginJS{
    <!-- Optional JavaScript -->
    <script src="~/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/libs/js/main-js.js"></script>
    <script>
        $(function () {
            var placeholderElement = $('#modal-createProduct');
            $(".buttonCreateProduct").click(function (event) {
                var url = $(this).data('url');
                var typeid = $(this).data("typeid");
                $.get(url).done(function (data) {
                    placeholderElement.html(data);
                    placeholderElement.find('.modal').modal('show');
                    document.getElementById("TypeId").value = typeid;
                });
            });
        });
    </script>
}

