@model List<Model.Models.Type>
@using Common
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _hostingEnviroment
@{
    ViewData["Title"] = "ProductListC2C";
}
<div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Blank Pageheader </h2>
                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blank Pageheader</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <!-- image cards  -->
    <!-- ============================================================== -->
    <div class="row">

        @for (int i = 0; i < Model.Count(); i++)
        {
            if (i == 0)
            {
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-block" id="image-card">
                        <h2 class="section-title">@Model[i].Branch.BranchName</h2>
                    </div>
                </div>
            }
            else if (Model[i].BranchId != Model[i - 1].BranchId)
            {
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-block" id="image-card">
                        <h2 class="section-title">@Model[i].Branch.BranchName</h2>
                    </div>
                </div>
            }

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <img class="card-img-top img-fluid" src=@Common.ImageBox.ImageObjectPath("type",Model[i].TypeId,null,_hostingEnviroment) alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">@Model[i].TypeName</h3>
                        @*<p class="card-text">bla vla bla cla</p>*@
                        <a class="btn btn-primary" href="@Url.Action("ProductTypeDetailC2C","ECommerce",new { typeId=Model[i].TypeId})">View all product in Type</a>
                    </div>
                </div>
            </div>
            if (i == Model.Count() - 1)
            {
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="~/images/createnewobject.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Branch:@Model[i].Branch.BranchName</h3>
                            <a href="#" class="btn btn-success btn-block">Add new Type</a>
                        </div>
                    </div>
                </div>
            }
            else if (Model[i].BranchId != Model[i + 1].BranchId)
            {
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="~/images/createnewobject.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">Branch:@Model[i].Branch.BranchName</h3>
                            <a href="#" class="btn btn-success btn-block">Add new Type</a>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
    <!-- ============================================================== -->
    <!-- end image cards  -->
</div>


@section PluginCSS{
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/libs/css/style.css">
    <link rel="stylesheet" href="~/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
}

@section PluginJS{
    <!-- Optional JavaScript -->
    <script src="~/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/libs/js/main-js.js"></script>
}