
@{
    ViewData["Title"] = "ZoomProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Blank Pageheader </h2>
                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blank Pageheader</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h1>ZoomProduct</h1>

            <img id="zoom_mw" src="~/vendor/elevatezoom-plus/images/small/image1.png"
                 data-zoom-image=@String.Concat(Url.Content("~"),"/vendor/elevatezoom-plus/images/large/image1.jpg") />
        </div>
    </div>
</div>


@section PluginCSS{
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/libs/css/style.css">
    <link rel="stylesheet" href="~/vendor/fonts/fontawesome/css/fontawesome-all.css">

    <link href="~/vendor/elevatezoom-plus/css/style.css" rel="stylesheet" />
}
@section PluginJS{
    <script src="~/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/libs/js/main-js.js"></script>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/vendor/elevatezoom-plus/js/jquery.ez-plus.js"></script>
    <script>
        $('#zoom_mw').ezPlus({
            scrollZoom: true
        });
    </script>
}
